@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:rgb(0, 0, 0);
  color:#fff;
}

@layer components {
  .hoverAnimation {
    @apply hover:bg-[#d9d9d9] hover:bg-opacity-10 rounded-full cursor-pointer w-[52px] h-[52px] xl:w-auto xl:h-auto xl:py-3 xl:px-4 transition duration-200 ease-out;
  }

  .icon {
    @apply cursor-pointer w-9 h-9 hover:bg-[#1d9bf0] hover:bg-opacity-10 flex items-center justify-center rounded-full transition ease-out;
  }

  .tag {
    @apply text-[#1d9bf0] font-normal hover:underline cursor-pointer;
  }
}